.nav-ul {
  display: flex;
  gap: 20px;
}
.nav-ul > li {
  list-style: none;
  padding: 10px;
}

.nav-ul > li > a {
  color: #fff;

  text-decoration: none;
}
.nav-ul {
  padding: 5px;

  margin: 0;
  background-color: rgb(10, 71, 96);
}
.Footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  background-color: rgb(8, 81, 110);
}
.inputBox {
  display: block;
  margin: 25px;
  padding: 8px;
  width: 300px;
  border: 1px solid skyblue;
}
.register {
  margin-left: 30%;
}
.login {
  margin-left: 30%;
  margin-top: 50px;
}

.signup-button {
  margin: 10px 25px;
  padding: 10px;
  width: 150px;
  background-color: skyblue;
  border: 1px solid;
  cursor: pointer;
}
.login-button {
  margin: 10px 25px;
  padding: 10px;
  width: 150px;
  background-color: skyblue;
  border: 1px solid;
  cursor: pointer;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
